body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(115, 112, 112);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(115, 112, 112);
    padding: 10px 20px;
}
.language-flags {
    display: flex;
    gap: 10px;
}
.language-flags img {
    width: 25px;
    height: 25px;     
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-bar input {
    padding: 5px;
    font-size: 16px;
}
.cart-button {
    color: white;
    background-color: #0d00c4;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
nav {
    display: flex;
    gap: 165px;
    justify-content: flex-start;
    background-color: #000000;
    padding: 10px;
    position: relative;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    background-color:#0d00c4;
    font-weight: bold;
}
nav a.electronics {
    background-color: #0d00c4;
}


.nav-item {
    position: relative; 
}
.submenu {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 300px;
    top: 100%;
    left: 0; 
}
.submenu h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.submenu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9em;
    padding: 5px 0;
}
.submenu a.bazar {
    background-color: #c6007e;
    color: white;
    padding: 3px 7px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: inline-block;
}


.submenu .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.nav-item:hover .submenu {
    display: block;
}
.image-gallery {
    display: flex;
    gap: 10px;
}

.image-item p {
    font-size: 14px;
    color: #000;
    margin: 0;
}
.image-container {
display: grid;
grid-template-columns: repeat(3, 1fr); 
gap: 20px;
justify-items: center; 
margin: 20px 0; 
}

.image-item {
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}

.image-item img {
width: 100%;
max-width: 300px; 
height: auto;
border: 2px solid #ddd;
border-radius: 5px;
padding: 10px;
background-color: #f9f9f9;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
a {
    text-decoration: none;
}

.image-container img {
    display: block;
    width: 200px;
    height: auto; 
    margin-bottom: 10px auto; 
}

* {
    outline: none;
  }
  
  
  html, body {
    outline: none;
  }
  
 
  body {
    user-select: none;
    cursor: default;
  }
  
  
  h1, h2, h3, p, span {
    outline: none;
    user-select: none;
  }
  